.dropDownMenu {
    position: absolute;
    top: 75px;
    z-index: 999;
    background-color: #fff;
    color: #333;
    overflow: hidden;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    right: auto;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.dropDownMenuContainer {
    /* height: calc(100vh - 75px - 20px); */
    width: 650px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dropDownMenuLeft {
    padding: 20px;
}

.dropDownMenuTitle {
    margin: 0;
    font-size: 16px;
    margin-bottom: 13px;
    padding-left: 16px;
}

.dropDownMenuListItem {
    color: var(--gray-color);
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 3px;
    opacity: 0.8;
    
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.dropDownMenuListItem:hover {
    background-color: #f7f9fc;
    opacity: 1;
}

.dropDownMenuListItemNum {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sec-color-light1);
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    font-family: var(--Opensans-font);

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.dropDownMenuListItemCont {
    display: flex;
    flex-direction: column;
}

.dropDownMenuListItemContTtl {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.dropDownMenuListItemContDesc {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: var(--Opensans-font);
}

.dropDownMenuRight {
    padding: 20px;
    background-color: #f8f9fa
}